<div>
  <h2>{{user.name}}</h2> {{ error }}
  <img ng-src="{{user.avatar_url}}" title="{{user.name}}" />
  <div>

    Ordem:
    <select ng-model="repoSortOrder">
      <option value="+name">Nome</option>
      <option value="-stargazers_count">Estrelas</option>
      <option value="+language">Linguagem</option>
    </select>
  </div>
</div>

<table>
  <thead>
    <tr>
      <td>Nome</td>
      <td>Estrelas</td>
      <td>Linguagem</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
      <td>
        <a href="#/repo/{{user.name}}/{{repo.name}}">
        {{repo.name}}
        </a>
      </td>
      <td>{{repo.stargazers_count | number}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>
<a href="#/main">Buscar novamente</a>